/*!
 * interactive-captains-knock-charts
 *
 * @version development
 * @author Simon Elvery <(none)>
 */

#interactive-captains-knock-charts {
	svg {
		font-family: Arial;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.line {
		fill: none;
		stroke-width: 1.5px;
	}

	.axis .tick line {
		stroke: #ccc;
	}

	.axis text {
		fill: #666;
		font-family: Arial;
	}

	.axis .tick:first-child {
		display: none;
	}
}


.platform-mobile {
	#interactive-captains-knock-charts {
		svg {
			font-size: 90%;
		}

		.line-label {
			display: none;
		}

		text.Ricky-Ponting,
		text.Donald-Bradman,
		text.Michael-Clarke {
			display: block;
		}
	}

	.y.axis .tick:nth-child(2n+1) {
		display: none;
	}
}