/*!
 * interactive-captains-knock-charts
 *
 * @version development
 * @author Simon Elvery <(none)>
 */

@import '../../node_modules/component-interaction-hints/src/styles/index';

#interactive-captains-knock-charts {
	svg {
		font-family: Arial;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.line {
		fill: none;
		stroke-width: 1.5px;
	}

	.axis .tick line {
		stroke: #ccc;
	}

	.axis text {
		fill: #666;
		font-family: Arial;
	}

	.axis .tick:first-child {
		display: none;
	}

	text.line-label {
		font-weight: bold;
	}
}

.chart-hint {

	opacity: 0;
	transition: opacity 0.5s;
	z-index: 100;
	border-radius: 0 0 0 3px;

	&.initialised {
		opacity: 1;
	}

	&.has-icon {
		span.text {
			max-width: 10em;
		}
	}
}


.platform-mobile {
	#interactive-captains-knock-charts {
		svg {
			font-size: 90%;
		}

		.line-label {
			display: none;
		}

		text.Ricky-Ponting,
		text.Donald-Bradman,
		text.Michael-Clarke {
			display: block;
		}
	}

	.y.axis .tick:nth-child(2n+1) {
		display: none;
	}
}