/*!
 * interactive-captains-knock-charts
 *
 * @version development
 * @author Simon Elvery <(none)>
 */

@import '../../node_modules/component-interaction-hints/src/styles/index';

#interactive-days-in-power {

	position: relative;

	svg {
		font-family: Arial;
	}

	button.btn {
		margin: 1em 0;
	}

	.chart-analysis-heading {
		margin-top: 0.5em;
		margin-bottom: 0;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.line {
		fill: none;
		stroke-width: 1.5px;

		&.Malcolm-Turnbull {
			stroke-width: 3.5px;
		}
	}

	.axis .tick line {
		stroke: #ccc;
	}

	.axis text {
		fill: #666;
		font-family: Arial;
	}

	.axis .tick:first-child {
		display: none;
	}

	text.line-label {
		font-weight: bold;
	}
}

.chart-hint {

	opacity: 0;
	transition: opacity 0.5s;
	z-index: 100;
	border-radius: 0 0 0 3px;

	&.initialised {
		opacity: 1;
	}

	&.has-icon {
		span.text {
			max-width: 10em;
		}
	}
}


.platform-mobile {

	#interactive-days-in-power {
		svg .axis .tick text {
			font-size: 10px;
		}

		svg text.label,
		svg text.y-label {
			font-size: 12px;
		}

		.line-label {
			display: none;

			&.current,
			&.Malcolm-Turnbull {
				display: block;
			}
		}

		button.btn {
			width: 100%;
		}

		.chart-analysis {
			margin-top: 0;
		}
	}

	.y.axis .tick:nth-child(2n+1) {
		display: none;
	}
}